/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: "europa", "Helvetica Neue", "Helvetica", sans-serif;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /* background-color: rgba(0,0,0,0.75); */
  background-color: #222;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper a {
  color: #FFF;
}

.navbar-wrapper a:hover, a:focus {
  color: #00CCB8;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar>.container .navbar-brand {
  height: inherit;
  margin-left: 20px;
}
.navbar-brand .logo {
  background: url("../images/logos/header-black.png") no-repeat;
  width: 230px;
  height: 100px;
}
.navbar-nav a {
  font-size: 16px;
}
.nav>li>a {
  padding: 10px 25px;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: inherit;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #00CCB8;
  color: white;
}
.navbar-toggle {
  margin-top: 20px;
  border-color: #333;
  overflow: auto;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #333;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar .lang-selector {
  float: right!important;
  margin-top: 20px;
}
.navbar .lang-list {
  list-style: none;
  padding: 0;
  margin-left: -72px;
}
.navbar .lang-list>li {
  float: left;
}
.navbar .lang-list a {
  padding-left: 2px; 
  padding-right: 2px;
  text-decoration: none;	
}
.navbar .lang-list li.active>a {
  color: white;
  background-color: #00CCB8;
}
.navbar .lang-list li.active>a:hover, .navbar .lang-list li.active>a:focus {
  color: #00CCB8;
  background-color: rgba(0,0,0,0);
}
.lang-list li + li::before {
  content: "-";
  padding-left: 2px; 
  padding-right: 2px;	
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  text-align: left;
  right: 10%;
  left: 10%;
  top: 140px;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.carousel-caption h1 .bold {
  font-weight: 900;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-position: center;
}

.carousel .bg1 {
  background-image: url("../images/banners/home1.jpg");
}

.carousel .bg2 {
  background-image: url("../images/banners/home2.jpg");
}

.carousel .bg3 {
  background-image: url("../images/banners/home3.jpg");
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel .btn-primary {
  color: #fff;
  background-color: #F04F23;
  border-color: #F04F23;
}

.carousel .btn-lg {
  padding: 8px 12px;
  font-size: 28px;
  font-weight: 100;
  line-height: 1em;
  border-radius: 0px;
}

/* BANNER
-------------------------------------------------- */

.banner {
  height: 600px;
}

.banner.company {
  background-image: url("../images/banners/company.jpg");
  background-position: center;
}

.banner-caption {
  position: absolute;
  right: 10%;
  top: 320px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.banner-caption h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-caption .box {
  padding: 6px 10px;
  font-size: 16px;
  border: rgba(255,255,255,.85) solid 2px;
}

/* MARKETING TITLE
-------------------------------------------------- */
.marketing-title {
  background-color: #00726C;
}

.marketing-title h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
  font-size: 36px;
  letter-spacing: -2px;
  text-align: center;
}

.marketing-title h3 .light {
  font-weight: 100;
}

/* MARKETING HEADER
-------------------------------------------------- */
.marketing-header {
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  background-color: #00CCB8;
}

.marketing-header h2 {
  left: 10%;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.9em;
}

.marketing-header.diagonal-pattern {
  background-image: url("../images/backgrounds/diagonal.jpg");
}

.marketing-header .world-map {
  width: 320px;
  height: 190px;
  background-size: 320px 190px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/banners/world-map.png");
}

/* MARKETING TABS
-------------------------------------------------- */
.marketing-tabs {
  margin-bottom: 20px;
  line-height: 60px;
  color: #FFF;
  background-color: #00CCB8;
}

.marketing-tabs li>a {
  line-height: 50px;
}

.marketing-tabs a {
  text-transform: uppercase;
}
.marketing-tabs>.company {
  width: 970px;
}
.marketing-tabs>.products {
  width: 1110px;
}
.nav-tabs {
  border: 0;
  margin: 0 auto;
}
.company>.nav-tabs {
  width: 720px;
}
.nav-tabs>li {
  margin: 0;
}
.nav-tabs>li>a {
  margin: 0;
  border: 0;
  border-radius: 0;
  color: white;
  width: 180px;
  text-align: center;
}
.products>.nav-tabs>li>a {
  width: 154px;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 14px;
}
.products>.nav-tabs>li>a.sigle-line {
  padding: 25px 14px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 0;
  background-color: #00726C;
  color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .slogan {
  text-align: center;
  margin-bottom: 20px;
}
.marketing .slogan h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
}
.marketing .slogan p {
  font-size: 20px;
  font-weight: 100;
}
.marketing .slogan hr.divider {
  height: 0;
  width: 320px;
  border-top: 1px solid #CCC;
}
.marketing .col-lg-2 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h3 {
  font-weight: normal;
}
.marketing .col-lg-2 p {
  margin-right: 10px;
  margin-left: 10px;
}
.tabs>.company {
  margin-bottom: 40px;
  text-align: center;
}
.tab-content h3 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 30px;
}
.tab-content.products {
  width: 1000px;
  margin-right: 72px;
  margin-left: 72px;
}
.tab-content.company p {
  width: 400px;
  margin: 0 auto;
}
.tab-content .featurette-divider {
  margin: 10px 0;
}

/* PRODUCTS
-------------------------------------------------- */
.bed-1 {
  width: 480px;
  height: 320px;
  background-size: 480px 320px;
  background-image: url("../images/products/bed-1.jpg");
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */

footer {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 100;
  color: #FFF;
  background-color: #00726C;
}

footer h3 {
  margin-bottom: 24px;
  font-size: 18px;
}

footer h3 .underline {
  padding-bottom: 3px;
  border-bottom: 2px #FFF solid;
}

footer a {
  color: #FFF;
  font-size: 15px;
  text-decoration: none;
}

footer a:hover, a:focus {
  color: #00CCB8;
  text-decoration: none;
}

footer .copyright {
  margin-top: 50px;
  text-align: center;
}

footer .social-links > img {
  margin-top: -4px;
  margin-right: 8px;
}

/* Featurettes
------------------------- */

/* Featurette base class */
.featurette {
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-box {
  width: 370px;
  height: 253px;
  margin:0 auto;
  margin-bottom: 20px;
  padding: 0px;
  overflow: hidden;
}

.featurette-box.bg1 {
  background: url("../images/categories/cama-hospitalaria.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg2 {
  background: url("../images/categories/laboratorio.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg3 {
  background: url("../images/categories/bolsas-de-sangre.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg4 {
  background: url("../images/categories/monitores.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg5 {
  background: url("../images/categories/insumos.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg6 {
  background: url("../images/categories/bomba-de-infusion.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg7 {
  background: url("../images/categories/cateter.jpg");
  background-size: 370px 253px;
}

.featurette-box.bg8 {
  background: url("../images/categories/servicios.jpg");
  background-size: 370px 253px;
}

.featurette-overlay {
  width: 370px;
  height: 253px;
  padding: 110px 20px 0 20px;
  background: rgba(0,0,0,.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
}

.featurette-box:hover .featurette-overlay {
  opacity:1;
}

.featurette-title {
  padding: 6px 12px;
  font-size: 20px;
  font-weight: 900;
  color: rgba(255,255,255,.85);
  text-transform: uppercase;
}

.featurette-title span {
  padding: 8px 16px;
  border: rgba(255,255,255,.85) solid 2px;
}

.featurette-description {
  font-size: 12px;
  margin-top: 12px;
  color: rgba(255,255,255,.85);
}

/* Allies
------------------------- */

/* Ally base class */
.ally {
  margin-bottom: 40px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    background-color: rgba(255,255,255,0.5);
  }
  
  .navbar-wrapper a {
    color: #666;
  }
  
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
  
  .navbar-brand .logo {
    background: url("../images/logos/header-white.png") no-repeat;
  }
  
  .navbar-nav {
    float: right!important;
    margin: 60px 0 0 0;
  }
  
  .navbar-toggle {
    border-color: inherit;
  }
  
  .dropdown-menu {
	border-width: 0px;
	border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption {
  	top: 200px;
  }
  
  .carousel-caption p {
    margin-bottom: 20px;
    margin-right: 60%;
    font-size: 21px;
    line-height: 1.4;
  }
  
  .banner-caption .box {
    font-size: 24px;
  }
  
  .marketing-header .world-map {
    width: 960px;
    height: 570px;
    background-size: 960px 570px;
  }
  
  .featurette-box {
    width: 559px;
    height: 382px;
    background-size: 559px 382px;
    margin:0 auto;
    margin-bottom: 30px;
  }
  
  .featurette-box.bg1, .featurette-box.bg2, .featurette-box.bg3, .featurette-box.bg4, .featurette-box.bg5, .featurette-box.bg6, .featurette-box.bg7, .featurette-box.bg8 {
    background-size: 559px 382px;
  }

  .featurette-overlay {
    width: 559px;
    height: 382px;
    padding: 160px 20px 0 20px;
  }

  .featurette-heading {
    font-size: 50px;
  }
  
  .featurette-title {
    padding: 8px 16px;
    font-size: 32px;
  }
  
  .featurette-description {
    font-size: 16px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
