/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: "europa", "Helvetica Neue", "Helvetica", sans-serif;
}

footer {
  background-color: #ddd;
  padding-top: 40px;
  padding-bottom: 10px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
  background-position: center;
}

.carousel .bg1 {
  background-image: url("../images/banners/banner1.jpg");
}

.carousel .bg2 {
  background-image: url("../images/banners/banner1.jpg");
}

.carousel .bg3 {
  background-image: url("../images/banners/banner1.jpg");
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-2 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h3 {
  font-weight: normal;
}
.marketing .col-lg-2 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */

.copyright {
  text-align: center;
}


/* Featurettes
------------------------- */

/* Featurette base class */
.featurette {
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-box {
  margin:0 auto;
  margin-bottom: 100px;
  width: 480px;
  height: 320px;
  padding: 0px;
  background: url(http://placehold.it/480x320);
  background-size: cover;
  overflow: hidden;
}

.featurette-overlay {
  width: 480px;
  height: 320px;
  padding-top: 120px;
  background: rgba(0,0,0,.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
}

.featurette-box:hover .featurette-overlay {
  opacity:1;
}

.featurette-title {
  padding: 8px 16px;
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255,255,255,.85);
  font-size: 32px;
}

.featurette-title span {
  padding: 8px 16px;
  border: rgba(255,255,255,.85) solid 2px;
}

.featurette-description {
  margin-top: 12px;
  font-family: Helvetica;
  color: rgba(255,255,255,.85);
  font-size: 16px;
}

/* Allies
------------------------- */

/* Ally base class */
.ally {
  margin-bottom: 40px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    padding-top: 20px;
    background-color: rgba(255,255,255,0.5);
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
