body {
  margin: 0;
  color: #5a5a5a;
  font-family: "europa", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
a, a:hover, a:focus, a:visited {
  text-decoration: none;
}
header {
  margin: 10px;
  background-color: rgba(255,255,255,0.5);
}
.navbar-brand .logo {
  background: url("../images/logos/header-white.png") no-repeat;
  width: 230px;
  height: 100px;
  background-size: 230px 100px;
  padding: 15px;
}
footer {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 100;
  color: #FFF;
  background-color: #00726C;
}
