      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1" class=""></li>
        <li data-target="#carousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item bg1 active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Equipos médicos<br/><span class="bold">quirúrgicos</span><br/>de última<br/>tecnología.</h1>
              <p><a class="btn btn-lg btn-primary" href="index.html" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="item bg2">
          <div class="container">
            <div class="carousel-caption">
              <h1>Equipos médicos<br/><span class="bold">quirúrgicos</span><br/>de última<br/>tecnología.</h1>
              <p><a class="btn btn-lg btn-primary" href="index.html" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="item bg3">
          <div class="container">
            <div class="carousel-caption">
              <h1>Equipos médicos<br/><span class="bold">quirúrgicos</span><br/>de última<br/>tecnología.</h1>
              <p><a class="btn btn-lg btn-primary" href="index.html" role="button">Ver más</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="index.html#carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="index.html#carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>