    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h3><span class="underline">Compañía</span></h3>
          <p><a href="about-us.html">¿Quiénes somos?</a></p>
          <p><a href="mission.html">Misión</a></p>
          <p><a href="vision.html">Visión</a></p>
          <p><a href="presence.html">Presencia Mundial</a></p>
        </div>
        <div class="col-lg-3">
          <h3><span class="underline">Productos y Servicios</span></h3>
          <p><a href="furniture.html">Productos</a></p>
          <p><a href="services.html">Servicios</a></p>
          <p><a href="quote.html">Cotización</a></p>
        </div>
        <div class="col-lg-3">
          <h3><span class="underline">Más de Nosotros</span></h3>
          <p><a href="contact.html">Contáctenos</a></p>
          <p>
          	<a class="social-links" href="//facebook.com/InteqInternational">
	            <i class="fa fa-facebook circle"></i> Facebook
            </a>
          </p>
          <p>
            <a class="social-links" href="//twitter.com/Inteq_Intl">
	            <i class="fa fa-twitter circle"></i> Twitter
            </a>
          </p>
        </div>
        
      </div>
      <div class="row copyright">
        <p>© 2014 Inteq International. Todos los derechos reservados.</p>
      </div>
    </div>