      <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h3><span class="underline">Compañía</span></h3>
          <p><a href="#">¿Quiénes somos?</a></p>
          <p><a href="#">Historia</a></p>
          <p><a href="#">Misión</a></p>
          <p><a href="#">Visión</a></p>
        </div>
        <div class="col-lg-3">
          <h3><span class="underline">Líneas de Negocio</span></h3>
          <p><a href="products.html">Productos</a></p>
          <p><a href="#">Servicios</a></p>
        </div>
        <div class="col-lg-3">
          <h3><span class="underline">Más de Nosotros</span></h3>
          <p><a href="#">Contáctenos</a></p>
          <p>
          	<a class="social-links" href="http://www.facebook.com">
	          <img class="img" src="images/icons/fb.png" alt="Facebook" style="width: 31px; height: 32px;" />Facebook
            </a>
          </p>
          <p>
            <a class="social-links" href="http://www.twitter.com">
	          <img class="img" src="images/icons/tw.png" alt="Twitter" style="width: 31px; height: 32px;" />Twitter
            </a>
          </p>
        </div>
        
      </div>
      <div class="row copyright">
        <p>© 2014 Inteq International. Todos los derechos reservados.</p>
      </div>
      </div>