	<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">
	            <div class="logo"></div>
              </a>
            </div>
            <div class="lang-selector">
              <ul class="lang-list">
                <li class="active"><a href="index.html">ES</a></li>
                <li><a href="index-en.html">EN</a></li>
              </ul>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Compañía</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="about-us.html">¿Quiénes somos?</a></li>
                    <li><a href="mission.html">Misión</a></li>
                    <li><a href="vision.html">Visión</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Productos</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="furniture.html">Muebles Hospitalarios</a></li>
                    <li><a href="index.html">Laboratorio Clínico</a></li>
                    <li><a href="index.html">Bolsas de sangre</a></li>
                    <li><a href="monitors.html">Monitores</a></li>
                    <li><a href="index.html">Insumos Hospitalarios</a></li>
                    <li><a href="index.html">Bomba de Infusión</a></li>
                    <li><a href="index.html">Intervencionismo</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Servicios</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="index.html">Soporte y mantenimiento de equipos</a></li>
                    <li><a href="index.html">Equipos remanufacturados</a></li>
                  </ul>
                </li>
                <li><a href="http://inteqinternational.blogspot.com/">Blog</a></li>
                <li><a href="contact.html">Contáctenos</a></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>