      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item bg4 active">
          <div class="container">
            <div class="carousel-caption">
              <span class="city">Coral Gables, FL</span>
            </div>
          </div>
        </div>
        <div class="item bg5">
          <div class="container">
            <div class="carousel-caption">
              <span class="city">Bogotá, Colombia</span>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="index.html#carousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="index.html#carousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>