			<div class="row">
			  <div class="col-lg-6 product glucometer-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Glucómetro</h3>
          <p>El sistema es ofrecido con una función audible para apoyar a los usuarios a hacer pruebas fáciles y confiables. El sistema proporciona pruebas de glucosa en sangre fiables y de seguridad impulsados por el biosensor de glucosa altamente sensible basado en la inmovilización efectiva de la enzima glucosa oxidada. La tecnología de configuración de código le dará la libertad de estar lejos del proceso de codificación manual. El sistema presenta experiencias de pruebas más cómodas y fáciles con el diseño de medidor portátil ergonómico, funciones acústicas, su especificación de muestreo de sangre para diagnosticar y otras funciones prácticas.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-tubes-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Tubos de Sangre</h3>
          <p>Nuestros tubos para extracción de sangre están identificados unitariamente con el código del producto, el número de lote
de fabricación y su fecha de caducidad, garantizando la trazabilidad del producto desde el proceso de fabricación hasta el consumidor final.</p>
          <ul>
            <li>Trazabilidad de materias primas.</li>
            <li>Trazabilidad en proceso.</li>
            <li>Trazabilidad de producto acabado.</li>
          </ul>
			  </div>
			</div>

			