			<div class="row">
			  <div class="col-lg-6 product blood-bag-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Bolsa de sangre</h3>
			    <p>Bolsa de sangre simple, doble, triple, cuádruple.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-bag-2">
			  </div>
			  <div class="col-lg-6">
			    <h3>Sistema CPD-SAGM</h3>
			    <p>El sistema consiste en una bolsa primaria que contiene la solución anticoagulante CPD y una bolsa satélite que contiene SAGM (solución salina-adenina-glucosa-manitol) solución de conservación de glóbulos rojos.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-bag-3">
			  </div>
			  <div class="col-lg-6">
			    <h3>Set de Extracción Top & Bottom</h3>
			    <p>Componentes sanguíneos de calidad en forma de glóbulos rojos, plasma y plaquetas  para la recolección de sangre usando el método de Buffy Coat.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-transfusion-set-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Set de transfusión</h3>
			    <p>Cámara de goteo doble y flexible, filtro de 200 micras adecuado para la sangre, soluciones y medicamentos, Aproximadamente 20 gotas / ml. Aguja sitio y incluido diseñado para múltiples inyecciones, llave luer con collar de rotación, tubos de PVC suave y resistentes a torceduras.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-bag-4">
			  </div>
			  <div class="col-lg-6">
			    <h3>Bolsa de sangre con dispositivo de seguridad y bolsas de muestreo</h3>
			    <p>Bolsa de sangre con protector de aguja lo cual aumenta la seguridad contra las lesiones por pinchazo de aguja accidentales que pueden transmitir el VIH, la hepatitis B y C y otras enfermedades de transmisión. Bolsa de recolección inicial que permite recolectar la sangre del donante; bolsa de muestreo adjunta que permite dividir y recoger la sangre seleccionada del donante, la sangre libre de impurezas pasa luego a la bolsa principal. 
Incluye adaptador luer. Es compatible con todo tipo de tubos de recolección de sangre y evita el riesgo de lesiones por pinchazo de aguja.
Disponible en sistemas de bolsas de sangre individuales, dobles, triples y cuádruples.</p>
			  </div>
			</div>

      <hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product blood-collection-set-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Set de seguridad para extracción de sangre</h3>
			    <p>Set de extracción de sangre con alas de seguridad, permite adaptador luer y recogida de muestras múltiples. Después de la finalización de la recogida de sangre, escudo de aguja de seguridad se desliza sobre la aguja hasta que esté en posición de bloqueo. La aguja está completamente aislada y cuenta con un sistema de cerrado más fácil y más seguro, sin comprometer el cuidado del paciente. Protector de la aguja de seguridad reduce el riesgo de lesiones por pinchazo de aguja.</p>
			  </div>
			</div>
