 		<div class="tab-content products">
  		<div id="tab1" class="tab-pane"></div>
  		<div id="tab2" class="tab-pane"></div>
  		<div id="tab3" class="tab-pane"></div>
  		<div id="tab4" class="tab-pane"></div>
  		<div id="tab5" class="tab-pane active"></div>
  		<div id="tab7" class="tab-pane"></div>
    </div>
    <script>
    $(function() {
      $("#tab1").load("template/products/furniture/tab-pane.html");
      $("#tab2").load("template/products/laboratory/tab-pane.html");
      $("#tab3").load("template/products/blood-bank/tab-pane.html");
      $("#tab4").load("template/products/monitors/tab-pane.html");
      $("#tab5").load("template/products/supplies/tab-pane.html");
      $("#tab7").load("template/products/interventionism/tab-pane.html");
    });
    </script>