 		<div class="tab-content company">
  		<div id="tab1" class="tab-pane active"></div>
  		<div id="tab2" class="tab-pane"></div>
  		<div id="tab3" class="tab-pane"></div>
  		<div id="tab4" class="tab-pane"></div>
    </div>
    <script>
    $(function() {
      $("#tab1").load("template/company/tab-pane-1.html");
      $("#tab2").load("template/company/tab-pane-2.html");
      $("#tab3").load("template/company/tab-pane-3.html");
      $("#tab4").load("template/company/tab-pane-4.html");
    });
    </script>
