    <div class="container products">
  		<ul class="nav nav-tabs" role="tablist">
  		  <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Muebles Hospitalarios</a></li>
  		  <li><a href="#tab2" role="tab" data-toggle="tab">Laboratorio Clinico</a></li>
  		  <li><a href="#tab3" role="tab" data-toggle="tab">Bolsas de Sangre</a></li>
  		  <li class="active"><a href="#tab4" role="tab" data-toggle="tab" class="sigle-line">Monitores</a></li>
  		  <li><a href="#tab5" role="tab" data-toggle="tab">Insumos Hospitalarios</a></li>
  		  <li><a href="#tab6" role="tab" data-toggle="tab">Bomba de Infusión</a></li>
  		  <li><a href="#tab7" role="tab" data-toggle="tab" class="sigle-line">Intervencionismo</a></li>
  		</ul>
    </div>