			<div class="row">
			  <div class="col-lg-6 product fistula-needles-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Aguja Fístula</h3>
          <ul>
            <li>Cono giratorio con marcas codificadas en colores.</li>
            <li>Parte metálica de la aguja cuidadosamente pulida y revestida con una nueva técnica de siliconización.</li>
            <li>Orificio posterior oval en la aguja arterial.</li>
            <li>Corte faceteado especialmente diseñado, no traumático y con bordes afilados.</li>
            <li>Diseño de aletas grandes y ergonómicas.</li>
          </ul>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product haemodialysis-catheter-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Catéter de hemodiálisis</h3>
          <p>Suave, geométricamente diseñado con punta cónica para asegurar una fácil inserción y prevenir trauma relacionada con el catéter. Extensiones de lumen claras para mejorar la visibilidad y la seguridad. Disponible en tamaño para adultos y pediátricos.</p>
			  </div>
			</div>
			
		  <hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product catheter-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Catéter Venoso Central</h3>
          <p>Catéter cuidadosa y geométricamente diseñado con punta suave y cónica, garantiza la inserción atraumática, seguro y fácil, reduce el riesgo de coagulación de la sangre y el trauma intravascular.</p>
			  </div>
			</div>