    <div class="container products">
  		<ul class="nav nav-tabs" role="tablist">
  		  <li><a href="#tab1" role="tab" data-toggle="tab">Mobiliario Médico</a></li>
  		  <li><a href="#tab2" role="tab" data-toggle="tab">Laboratorio Clinico</a></li>
  		  <li><a href="#tab3" role="tab" data-toggle="tab" class="sigle-line">Banco de Sangre</a></li>
  		  <li><a href="#tab4" role="tab" data-toggle="tab" class="sigle-line">Monitores</a></li>
  		  <li><a href="#tab5" role="tab" data-toggle="tab">Insumos Hospitalarios</a></li>
  		  <li class="active"><a href="#tab7" role="tab" data-toggle="tab">Intervencionismo y Hemodiálisis</a></li>
  		</ul>
    </div>