			<div class="row">
			  <div class="col-lg-6 product monitor-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Monitor de transporte IQ30</h3>
          <ul>
            <li>Monitor de transporte y ambulancia.</li>
            <li>Elaborado con plástico de alta resistencia.</li>
            <li>Sistema operativo Linux.</li>
            <li>LCD con protección anti-rayones.</li>
            <li>Adecuado para primeros auxilios en el lugar, traslado de pacientes.</li>
            <li>Resistente al agua, a prueba de fuego y anti caídas.</li>
            <li>Su pantalla despliega la información claramente incluso en exteriores con fuerte luz solar.</li>
          </ul>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product monitor-2">
			  </div>
			  <div class="col-lg-6">
			    <h3>Monitor Neonatal IQ60</h3>
          <ul>
            <li>Pantalla táctil con tecnología TDT de 8,4”.</li>
            <li>Diseño práctico y ligero.</li>
            <li>Revisión de hasta 96 horas de tendencias gráficas.</li>
            <li>Análisis de arritmias y segmento ST, cálculo de dosis de  medicamentos.</li>
            <li>Batería recargable, 4 horas de autonomía.</li>
            <li>Único monitor con función auto – apnea neonatal.</li>
            <li>Sensor de concentración de oxígeno.</li>
            <li>Conexión LAN y WiFi.</li>
            <li>Soluciones de montaje.</li>
          </ul>
			  </div>
			</div>
			
			<hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product monitor-3">
			  </div>
			  <div class="col-lg-6">
			    <h3>Monitor IQ80 para UCI / UCC / SO</h3>
			    <ul>
			      <li>Gabinete resistente a golpes y a prueba de agua.</li>
			      <li>Pantalla color táctil con tecnología TFT de 12,1”.</li>
			      <li>Uso Adulto, Pediátrico y Neonatal.</li>
			      <li>Puerto especial de presión no invasiva.</li>
			      <li>Análisis ECG de 7 derivadas o 12 derivadas seleccionables.</li>
			      <li>Detección de arritmias y anti desfibrilación.</li>
			      <li>Revisión de hasta 120 horas de tendencias.</li>
			      <li>3 niveles de alarmas audibles y visuales.</li>
			      <li>Fuente de alimentación corriente alterna.</li>
			      <li>Puertos USB, SD y Red.</li>
			      <li>Múltiples opciones de montaje.</li>
			      <li>Batería recargable que soporta 4 horas de trabajo.</li>
			    </ul>
			  </div>
			</div>
			
			<hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product monitor-4">
			  </div>
			  <div class="col-lg-6">
			    <h3>Monitor Modular IQ90</h3>
			    <ul>
			      <li>Está integrado con la tecnología de monitorización – transfiere datos de 6 parámetros con el módulo IQ30.</li>
			      <li>Conexión SD que permite expandir memoria</li>
			      <li>Interfaz multi USB para conexión de teclado, mouse y otros periféricos.</li>
			      <li>Alarma visual 360°: 3 colores de alarma para diferenciarlos parámetros.</li>
			      <li>Pantalla táctil de 17 pulgadas.</li>
			      <li>Batería de litio que asegura continuidad por 4 horas.</li>
			      <li>Soporte de pared o carro de transporte.</li>
			      <li>Soporta impresora externa.</li>
			    </ul>
			  </div>
			</div>

			<hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product monitor-5">
			  </div>
			  <div class="col-lg-6">
			    <h3>Monitor Signos Vitales IQ8000</h3>
			    <ul>
			      <li>Pantalla color alta resolución 12,1”.</li>
			      <li>Diseño ligero y compacto.</li>
			      <li>Visualización estándar fuente grande.</li>
			      <li>3 niveles de alarmas audibles y visuales.</li>
			      <li>Batería recargable integrada que permite su uso por más de 4 horas.</li>
			      <li>Operación intuitiva y fácil manejo.</li>
			      <li>Permite configuración opcional de impresora térmica Puerto USB y SD.</li>
			      <li>Tapa protectora anti polvo.</li>
			    </ul>
			  </div>
			</div>
						
			<hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product monitor-center-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Sistema central de Monitoreo IQ8800</h3>
			    <ul>
			      <li>Sistema central de monitoreo conexión por cable / inalámbrica.</li>
			      <li>Pantalla doble o sencilla.</li>
			      <li>Interfaz estándar TCP / IP.</li>
			      <li>Monitoreo en pantalla sencilla hasta 16 monitores. </li>
			      <li>Monitoreo en pantalla doble hasta 32 monitores. </li>
			      <li>Comunicación bidireccional control central.</li>
			      <li>Almacenaje y revisión de hasta 720 horas de tendencias.  </li>
			      <li>Almacenamiento de 1000 registros de alarma para revisión.</li>
			      <li>Software amigable y fácil de usar.</li>
			    </ul>
			  </div>
			</div>

      <hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product anesthetic-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Máquina de Anestesia IQ700</h3>
			    <ul>
			      <li>Volumen tidal mínimo hasta 20ml.</li>
			      <li>Válvula de flujo digital.</li>
			      <li>Ventilación avanzada con soporte de presión, determina la velocidad respiratoria y el nivel de terminación.</li>
			      <li>Compensa automáticamente el funcionamiento, gas fresco y fugas; monitor de parámetros respiratorios.</li>
			      <li>Gestión de alarmas inteligente.</li>
			      <li>Diseño del sistema de ventilación compacto e integrado.</li>
			      <li>Fácil de desmontar y de limpiar.</li>
			      <li>Sistema de frenado conveniente y fácil de usar.</li>
			      <li>Fácil de operar, visualización de trazo de onda, loop, de gases anestésicos, identificación automática de gases y cálculo Mac.</li>
			      <li>Medición en tiempo real de presión, flujo de vías respiratorias, volúmenes, funcionamiento y resistencia de respiración.</li>
			    </ul>
			  </div>
			</div>

      <hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product infusion-pump-2">
			  </div>
			  <div class="col-lg-6">
			    <h3>Bomba de Infusión</h3>
			    <ul>
			      <li>Rendimiento de alta precisión asegura la entrega precisa.</li>
            <li>Avanzado sistema "SEMI-PRESS”.</li>
            <li>Fusión inicio rápido y DPS.</li>
            <li>Lucha contra el flujo libre y función Anti-bolo.</li>
            <li>6 niveles de detección de burbujas de aire.</li>
            <li>Función para manejo de la Historia y de la biblioteca de Medicamentos.</li>
			    </ul>
			  </div>
			</div>
						

			