			<div class="row">
			  <div class="col-lg-6 product bed-4">
			  </div>
			  <div class="col-lg-6">
			    <h3>Cama Médica Manual 2 Funciones</h3>
          <p>Cama Médica Manual, con plataforma estable y confiable, brazos desmontables. Sistema seguro que permite diferentes grados de elevación y posición (Sentado: 0° - 70°; Elevación pies: 0° - 35°), control manual. Plataforma con diseño especial para dar una sensación más cómoda al paciente.</p>
          <p><strong>Medidas:</strong><br />Largo: 190 cm<br />Ancho:  97 cm<br />Alto: 53 cm.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
						
			<div class="row">
			  <div class="col-lg-6 product bed-4">
			  </div>
			  <div class="col-lg-6">
			    <h3>Cama Médica Manual 3 Funciones</h3>
          <p>Cama Médica Manual, con plataforma estable y confiable, brazos desmontables. Sistema seguro que permite diferentes grados de elevación y posición (Sentado: 0° - 70°; Elevación pies: 0° - 35°; Elevación vertical), control manual. Plataforma con diseño especial para dar una sensación más cómoda al paciente.</p>
          <p><strong>Medidas:</strong><br />Largo: 192 cm<br />Ancho:  90 cm<br />Alto: 52 a 80 cm.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">
			
			<div class="row">
			  <div class="col-lg-6 product bed-9">
			  </div>
			  <div class="col-lg-6">
			    <h3>Cama Médica Eléctrica 2 Funciones</h3>
          <p>Cama Médica Eléctrica, con plataforma estable y confiable, brazos desmontables. Sistema seguro que permite diferentes grados de elevación y posición (Sentado: 0° - 70°; Elevación pies: 0° - 35°), con control eléctrico. Plataforma con diseño especial para dar una sensación más cómoda al paciente. Sistemas adaptables para la instalación de atriles.</p>
          <p><strong>Medidas:</strong><br />Largo: 190 cm<br />Ancho:  90 cm<br />Alto: 49 cm.</p>
			  </div>
			</div>
			
			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product emergency-cart-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Carro de Emergencia</h3>
          <p>Carro para el transporte de medicamento, con un sistema silencioso y seguro de desplazamiento que incluye frenos; múltiples bandejas de almacenamiento, recipiente de residuos y atril.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product emergency-cart-2">
			  </div>
			  <div class="col-lg-6">
			    <h3>Carro de Emergencia</h3>
          <p>Carro de transporte de medicamentos (viene vacío). Superficies en polipropileno de alta densidad que permite una fácil limpieza, superficie superior en acero inoxidable, soporte para computador, atril, soporte para guardián, recipientes para manejo de residuos, recipiente para documentos tipo radiografías, tabla de reanimación, cable encauchetado para extensión de toma de energía, soporte para tanque de oxígeno, toma – corriente incorporado en la parte posterior, divisiones internas en polipropileno de alta densidad, ruedas con rodamientos tipo industrial.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product emergency-cart-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Atriles</h3>
          <p>Atril metálico.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product step-stool-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Escalera un peldaño</h3>
          <p>Escalera de un peldaño.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product step-stool-2">
			  </div>
			  <div class="col-lg-6">
			    <h3>Escalera dos peldaños</h3>
          <p>Escalera de dos peldaños.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product bed-11">
			  </div>
			  <div class="col-lg-6">
			    <h3>Camilla de Examinación</h3>
          <p>Camilla de examinación, con control manual para adecuar elevación del cabecero. Base en acero inoxidable muy estable en seguro, plataforma con diseño liso, cómoda para el paciente.</p>
			  </div>
			</div>

			<hr class="featurette-divider">

			<div class="row">
			  <div class="col-lg-6 product infant-bed-1">
			  </div>
			  <div class="col-lg-6">
			    <h3>Cama Infantil</h3>
          <p>Camas infantiles, adaptables a diferentes posiciones, cómodas y seguras, en diferentes colores.</p>
			  </div>
			</div>

			