 		<div class="tab-content products">
  		<div id="tab1" class="tab-pane active"></div>
  		<div id="tab1-2" class="tab-pane"></div>
  		<div id="tab1-3" class="tab-pane"></div>
  		<div id="tab1-4" class="tab-pane"></div>
  		<div id="tab2" class="tab-pane"></div>
  		<div id="tab3" class="tab-pane"></div>
  		<div id="tab4" class="tab-pane"></div>
  		<div id="tab5" class="tab-pane"></div>
  		<div id="tab6" class="tab-pane"></div>
  		<div id="tab7" class="tab-pane"></div>
    </div>
    <script>
    $(function() {
      $("#tab1").load("template/products/furniture/tab-pane-pag-1.html");
      $("#tab1-2").load("template/products/furniture/tab-pane-pag-2.html");
      $("#tab1-3").load("template/products/furniture/tab-pane-pag-3.html");
      $("#tab1-4").load("template/products/furniture/tab-pane-pag-4.html");
      $("#tab4").load("template/products/monitors/tab-pane.html");
    });
    </script>