      <div class="row slogan">
        <h2>Inteq International</h2>
        <p>Innovación y precisión</p>
        <hr class="divider" />
      </div>
    
      <div class="row featurette">
        <div class="col-md-6">
          <div class="featurette-box bg1" onclick="location.href='furniture.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Mobiliario Médico</span></div>
          	  <div class="featurette-description"><p>Camas, camillas, escaleras, carros de emergencia y atriles.</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-box bg2" onclick="location.href='laboratory.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Laboratorio Clínico</span></div>
          	  <div class="featurette-description"><p>Tubos de muestras, pruebas diagnósticas rápidas.</p></div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row featurette">
        <div class="col-md-6">
          <div class="featurette-box bg3" onclick="location.href='blood-bank.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Banco de Sangre</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-box bg4" onclick="location.href='monitors.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Monitores</span></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row featurette">
        <div class="col-md-6">
          <div class="featurette-box bg5" onclick="location.href='supplies.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Insumos Hospitalarios</span></div>
          	  <div class="featurette-description"><p>Jeringas, guantes, ropa limpia y estéril, tapabocas y polainas.</p></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="featurette-box bg7" onclick="location.href='interventionism.html'">
            <div class="featurette-overlay">
          	  <div class="featurette-title"><span>Intervencionismo</span></div>
          	  <div class="featurette-description"><p>Catéteres, introductores, guías, otros.</p></div>
            </div>
          </div>
        </div>
      </div>
      
    