        <form id="contact-form" class="contact-form" action="send-email.php" method="post">
          <fieldset>                      
            <p>
              <label for="name">Empresa o persona<span class="required">*</span></label>
              <input name="name" id="name" type="text" title="Ingrese su nombre completo." />
            </p>
            <p>
              <label for="id">Cédula o NIT<span class="required">*</span></label>
              <input name="id" id="id" type="text" title="Ingrese su cédula o NIT." />
            </p>
            <p>
              <label for="phone">Teléfono<span class="required">*</span></label>
              <input name="phone" id="phone" type="text" title="Ingrese su teléfono." />
            </p>
            <p>
              <label for="email" >Email<span class="required">*</span></label>
              <input name="email"  id="email" type="text" title="Enter your dirección de correo." />
            </p>
            <p>
              <label for="comments" class="full">Productos requeridos y cantidad<span class="required">*</span></label>
              <br />
              <textarea  name="comments" id="comments" rows="5" cols="20" title="Ingrese los productos en los que se encuentra interesado y las cantidades."></textarea>
            </p>
            
            <!-- send mail configuration -->
            <input type="hidden" value="Cotización Inteq" name="subject" id="subject" />
        
            <!-- ENDS send mail configuration -->
            <p><input type="submit" value="Enviar" name="submit" id="submit" /> <span id="error" class="warning"></span></p>
          </fieldset>
        </form>